@media (max-width: 1440px) {
.container{
    width: 90%;
}
    .hero-img{
        width: 50%;
    }
    .aple img{
        width: 50%;
    }
    .naxly{
        flex-direction: column;
    }
    .naxly-bloc{
        margin: 10px 0;
    }
    .what img{
        width: 62%;
    }
    .whatt{
        text-align: center;
    }
}
@media (max-width: 992px) {
.what{
    flex-direction: column;
}
    .what img{
        margin: 30px 0;
    }
    #naxly {
        background: #030d1f;
        padding: 154px 0;
    }
    .what img{
        width: 90%;
    }
    .loren{
        flex-direction: column;
    }
    #heder{
        position: fixed;
    }
    .aple-al h1 {
        font-size: 32px;}
    .heder-a{
        display: none;
    }
    .aply-bloc{
        flex-direction: column;
    }
    .aple-al h1 {
        font-size: 26px;
        margin-top: 94px;
    }
    .footer {
        display: flex;
        align-items: center;
        flex-flow: wrap;}
    .footer {
        margin: 0 15px;
        flex-flow: wrap;
    }
    }
@media (max-width: 576px) {
    .header button {
        display: none;
        width: 139px;
        height: 50px;
        font-size: 15px;
    }
    .whatt h1{
        font-size: 20px;
    }
    .whatt p{
        font-size: 15px;
    }
}
@media (max-width: 451px) {
    .header button {
        width: 139px;
        height: 50px;
        font-size: 15px;
        display: none;
    }
    .hero-img {
        margin-top: 60px;
        width: 90%;
    }
    .aple-al p {
        padding: 33px 0;
        width: 311px;
    }
    .loren-bloc h1 {
        padding: 20px 0;
        font-weight: 700;
        font-size: 30px;

    }
    .loren-bloc p {
        width: 347px;
        font-size: 15px;}
    .button button {
        margin: 10px 20px;
    }
    .naxly-bloc {
        width: 368px;
        height: 335px;}
    .naxly-bloc p {
        width: 328px;
        font-weight: 600;
        padding: -30px 0;
        font-size: 11px;}
    .naxly-bloc img{
        width: 20%;
    }
    .naxly-bloc h1 {
        font-weight: 700;
        font-size: 25px;
        opacity: 0.7;
        padding: 15px 0;
    }
    .whatt p {
        width: 369px;
        height: 75px;}

}

@media (max-width: 376px) {
    .bloc{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-flow: wrap;
    }
    .bloc img {
        margin: 20px;
        width: 111px;
    }
    .naxly-bloc {
        width: 324px;
        height: 312px;
    }
    .naxly-bloc p {
        width: 283px;}
    .naxly-bloc h1 {
        font-weight: 700;
        font-size: 20px;
    }
    .whatt p {
        width: 307px;
        height: 65px;
    }
    .bloc img{
        margin: 020px;
        width: 100px;
    }

}
@media (max-width: 320px) {
    #loren {
        overflow-x: hidden;
    }
    .naxly-bloc {
        width: 270px;
        height: 274px;
    }
    .button button {
        margin: 10px 70px;
    }
    .aple-al p {
        font-size: 10px;
        padding: 10px 0;
        width: 243px;
    }
    .aple-al button {
        padding: 10px 23px;
    }
    .header img{
        width: 20%;
    }
    .heder-Artificial h1 {
        font-weight: 600;
        font-size: 19px;
    }
    #heder{
        background: none;
    }
    .loren-bloc{
        text-align: center;
    }
    .loren-bloc h1{
        font-size: 20px;
    }
    .loren-bloc p {

        font-size: 10px;
    }
    .loren-bloc h4 {
        padding-top: 100px;
        font-size: 12px;}
    .aple-al h1 {
        font-size: 16px;
        margin-top: 82px;
    }
    .naxly-bloc p {
        width: 220px;
    }
    .button{
        d
        display: ;
        flex-flow: wrap;
    }
    /*.footer {*/
    /*    margin: 0 -78px;}*/
   .footer-blt p{
       font-size: 10px;
       padding: 10px 0;
   }
}