*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 80%;
    margin: 0 auto;
}
body{
    cursor: pointer;
    font-family: sans-serif;
    /*background: #020A18;*/


}
button{
    border: none;
}
#heder{
    padding: 40px 0;
    background: #020A18;


}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    animation: im 2s ease-in-out ;
}
@keyframes im {
0%{
    transform: translateX(1000px);
}
    50%{
        transform: translateY(1000px);
    }

}


.heder-Artificial{
    display: flex;
    align-items: center;
    justify-content: center;

}
.heder-Artificial h1{
    font-weight: 600;
    font-size: 23px;
    color: #3A68B8;

}

.heder-a a{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0 20px;
    transition:  0.4s  ;

}

.heder-a a:hover{
    background: transparent;
    color: blue;
    border: 2px solid blue;
}
.header button{
    padding: 15px 30px;
    gap: 10px;
    background: rgba(58, 104, 184, 0.32);
    border-radius: 5px;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    transition: 0.4s;
}
.header button:hover{
    color: blue;
    border: 2px solid blue;

}
#loren{
    background: #030d1f
}
.loren-bloc h4{
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    color: #3A68B8;

}
.loren-bloc h1{
    padding: 20px 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;

    color: #FFFFFF;

}
.loren-bloc p{
    width: 500px;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    padding: 30px 0;
}
.button  button{

    margin: 0 20px;
    background: #3A68B8;
    border-radius: 5px;
    padding: 15px 30px;
    gap: 10px;
    font-size: 20px;
    color: #FFFFFF;
    transition: 0.2s;
}
.button button:hover{
    background: transparent;
    color: blue;
    border: 2px solid blue;
}

.loren{
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: im .4s ease-in-out;
}
img{
    animation:  ofo 2s infinite ease-in-out;

}
@keyframes ofo {
    0%{
        opacity: 0.3;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.3;

}



}
.bloc{
    padding: 50px 0;
}
.bloc img{
    padding: 20px 6px;
}
.aply-bloc{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#aple{
    background: #020A18;
}
.aple-al{

}
.aple-al h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
}
.aple-al p{
    padding: 33px 0;
    width: 547px;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}
.aple-al button{
    border-radius: 5px;
    background: #3A68B8;
    padding: 15px 30px;
    gap: 10px;
}
#naxly{
    background: #030d1f;
    padding: 240px 0;


}

.naxly-bloc{
  width: 413px;
    height: 435px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) -41.9%, rgba(255, 255, 255, 0.2) 115.68%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.naxly-bloc h1{
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
    padding: 36px 0;

}
.naxly-bloc p{
    width: 344px;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
    padding: 36px 0;
}
.naxly-bloc{
    margin: 0 10px;
}
.naxly{
    display: flex;
    align-items: center;
    justify-content: center;
    animation: nax 3s reverse ease-in-out;

}
@keyframes nax {
    0%{
        transform: translateY(1000px);
    }
    50%{
        
    }

}
#what{
    background: #030d1f;
}
.whatt h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;

}
.whatt p{
    width: 453px;
    height: 75px;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
}
.pi{
    padding: 30px 0;
}
.what{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#footer{
    background: #030d1f;
    padding: 100px 0;
}
.footer-bloc h1{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #3A68B8;
    padding: 20px 0;

}
.footer-bloc p{
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}
.footr-gmil {

    padding: 50px 0;
  display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}
.footr-gmil a{
    padding: 15px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;

}
.footer-blt h1{
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;

}
.footer-blt h3{
    padding: 15px 0;
    font-weight: 450;
    font-size: 14px;

    color: rgba(232, 232, 241, 0.91);
}
.footer-blt{
    margin: 15px 0;
}
.bloct-bljc h1{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* #FFFFFF */

    color: #FFFFFF;
}
.bloct-bljc p {
    width: 260px;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;

    color: #FFFFFF;
}
.bloct-bljc h1{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    /* #FFFFFF */

    color: #FFFFFF;
}
.bloct-bljc p{
    padding: 20px 0;
    width: 170px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.bloc-22    h1{
    padding: 30px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
}
.bloc-22 a{

     padding: 0 15px;
    font-size: 20px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}